<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <button type="button" onclick="location.href='/clients?sort=id';">Clients by ID</button>
        <button type="button" onclick="location.href='/clients?sort=name';">Clients by Name</button>
    </div>
    <div style="margin-top: 5px">
        <button type="button" onclick="location.href='/policiesByClient';">Policies by User-name</button>
        <button type="button" onclick="location.href='/userOfPolicy';">User of policy</button>
    </div>
    {{{ body }}}
</body>
</html>
