<h3>User Data by ID</h3>
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>role</th>
    </tr>
    {{#each clients}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{role}}</td>
    </tr>
    {{/each}}
</grid>